$colors: (
    primary: #202336,
    secondary: #FB8F1D,
    white: #fff,
    light-grey: #F9F9FB
);

$bp-largest: 1200px;
$bp-large: 1064px;
$bp-medium: 814px;
$bp-small: 720px;
$bp-smallest: 572px;
$bp-smallest-v2: 502px;
$bp-smallest-v3: 442px;